<%= content_tag :div, class: "widget widget-reviews pagination-list #{'no-data' if product_reviews.total_count == 0}" do %>
  <div class="widget-heading">
    <span class="title">REVIEW</span>
    <span class="sort-type selected">
      <%= ReviewSort.t(@review_sort) %>
      리뷰 (<%= content_tag :span, number_with_delimiter(product_reviews.total_count), class: 'reviews-count' %>)
    </span>
    <% @brand.review_sort_types(ReviewGroupBy::NONE).select{|r| r != @review_sort}.each do |review_sort_type| %>
    <span class="review-sort-type-column"> | </span><%= link_to ajax_path(order: review_sort_type), remote: true do %><span class="sort-type"><%= ReviewSort.t(review_sort_type) %></span><% end %>
    <% end %>
    <% review_option_types = @brand.searchable_options %>
    <% if !review_option_types.blank? %>
      <a class="review-options-search-toggle"><i class="sprites-search"></i>옵션별 검색 하기</a>
    <% end %>
    <% if !review_option_types.blank? %>
      <%= render 'reviews/review_options_search', hidden: @review_option_filter.empty?, review_option_types: review_option_types %>
    <% end %>
  </div>
  <ul class="header">
    <li>
      <div class="col index">NO</div>
      <div class="col photo">PHOTO</div>
      <div class="col title">SUBJECT</div>
      <div class="col author">NAME</div>
      <div class="col date">DATE</div>      
      <div class="col score">GRADE</div>
    </li>
  </ul>
  <ul class="reviews reviews-product">
    <%= render partial: 'products/reviews/custom/review', collection: product_reviews, as: :review %>
  </ul>
  <%= content_tag :div, '리뷰가 없습니다.', class: 'no-data-message' %>
  <div class="widget-footer">
    <%= paginate product_reviews, params: {review_id: nil}, remote: true, window: kaminari_window(params[:page].to_i, product_reviews.total_pages) %>
  </div>
<% end %>
