<%= content_tag_for :li, review, data: {product_url: review.product_url, expand_url: expand_review_path(review, widget_id: widget.id)} do %>
  <%= content_tag :div, class: 'review-content', data: {toggle: true} do %>
    <div class="review-content-summary">
      <% review_position = @first_review_position_in_page - review_counter if @first_review_position_in_page %>
      <div class="col index list"><%= @first_review_position_in_page ? review_position : review.id %></div>
      <div class="col photo list"><%= content_tag :span, nil, class: "#{'sprites-icon-file' if review.images_count > 0}" %></div>
      <div class="col title list">
        <%= content_tag :a, review.message.first_line(Settings.max_review_chars_per_line), class: 'link-expand' %>
        <%= "[#{review.comments_count}]" if review.comments_count > 0 %>
      </div>
      <div class="col author list">
        <% if (user_grade_icon_url = review.user_grade_icon_url) %>
          <%= image_tag user_grade_icon_url, class: 'user-grade-icon' %>
        <% end %>
        <%= review_user_display_name(review) %>
      </div>
      <div class="col date list"><%= review.created_at.strftime("%Y-%m-%d") %></div>
      <div class="col score list">
        <%= render 'reviews/star_rating', score: review.score %>
      </div>
      <div class="review-content-expanded"></div>
    </div>
  <% end %>
<% end %>
